@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

/*body css */
.container {
    height:520px;
    width:450px;
    border: 1px solid black; 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
}


/*Nutrition Facts section*/

.firstSection   {
    font-weight:bold;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.firstSection p, h1 {
    margin: 0px 0px 0px 5px;
}
.firstSection h1{
    letter-spacing: 1px;
}
.firstSection #thickLine {
    width: 440px;
    height:10px;
    background-color: black; 
    margin-top:0;  
    margin-bottom:0px;
}

/*Per Serving Line*/

.amPerServing {
    
    display: flex;
    flex-direction:column;
}

 #titles > p {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    margin:0px 5px 0px 0px;
}

.amPerServing #thinLine {
    width: 440px;
    height:2px;
    background-color: black; 
    margin-top:0px;
    margin-bottom:0px;
}

/*class next to margin left*/

/*AMOUNT PER SERVING*/
.item1 {
    display:flex;
    flex-direction:row;
    margin:0px 5px 0px 5px;
    
   
}
.box1 {
       
    margin: 0px 0px 0px 0px;
    border: 1px solid black;
    flex-basis:200px;   
}
.box1 p{
    margin: 0px 0px 0px 0px;
 
}
.box2 {
    flex-grow:1; 
    border:1px solid black;
}
.box2 p {
   text-align:right;
}

/*CALORIES*/
.calories {
    display:flex;
    flex-direction:row;
    margin:0px 5px 0px 5px;
    
}
.box1 {
    flex-grow:3.2;    

    margin: 0px 5px 0px 0px;
}
.box1 p{
    margin: 0px 5px 0px 0px;
}
.box2 {
    flex-grow:1; 
}
.box2 p {
   text-align:right;
}

#greyLine{
    width: 420px;
    height:2px;
    background-color: grey; 
    margin-top:0; 
    margin-left:25px;
    margin-bottom: 0;
}

.calorFat {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width: 450px;
}
.calorFat > p{
    margin: 0px 5px 0px 5px;
    font-weight:bold;
}
#mediumLine {
    width: 440px;
    height:5px;
    background-color: black; 
    margin-top:0; 
    margin-bottom: 0;
}
#thinLine   {
    width: 440px;
    height:2px;
    background-color: black; 
    margin-top:0px;
    margin-bottom:0px;
}
