@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

/*body css */
.container {
    height:auto;
    width:450px;
    border: 1px solid black; 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
}


/*Nutrition Facts section*/

.firstSection   {
    font-weight:bold;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.firstSection p, h1 {
    margin: 0px 0px 0px 5px;
}
.firstSection h1{
    letter-spacing: 1px;
}
/*
.firstSection #thickLine {
    width: 440px;
    height:10px;
    background-color: black; 
    margin-top:0;  
    margin-bottom:0px;
}
*/
/*Per Serving Line*/

.amPerServing {
    
    display: flex;
    flex-direction:column;
}

 #titles > p {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    margin:0px 5px 0px 0px;
}

.amPerServing #thinLine {
    width: 440px;
    height:2px;
    background-color: black; 
    margin-top:0px;
    margin-bottom:0px;
}

/*class next to margin left*/

/*AMOUNT PER SERVING*/
.item1 {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0px 5px 0px 5px;
    
}
.box1 {
    
    flex-basis:300px;
    margin-right:0px;
    
}

.box1 p{
    margin: 0px 5px 0px 0px;
}


.box2 {
    
    
    flex-basis:100px;
    margin-left:0px;
}
.box2 p {
   text-align:right;
   margin: 0px 5px 0px 0px;
}

/*CALORIES*/

.calories {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0px 5px 0px 5px;
}

/*TOTAL FAT*/

.totalFat {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0px 5px 0px 5px;
}

/*cholesterol*/

.Cholesterol {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0px 5px 0px 5px;
}
/*sodium*/
.sodium {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0px 5px 0px 5px;
}
/*total carbs*/
.totalCarbs {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0px 5px 0px 5px;
}
/*protein*/
.protein {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0px 5px 0px 5px;
}
.vitaminA {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0px 5px 0px 5px;
}
.vitaminC {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0px 5px 0px 5px;
}
.calcium {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0px 5px 0px 5px;
}
.iron {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0px 5px 0px 5px;
}
 
/*indented paragraphs*/

/*CALORIES FROM FAT */

.calorFat {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left: 25px;
    margin-right:5px;
   
}

.indent1 {
    
    flex-basis:240px;  
   
}

.indent1 p{
    margin: 0px 5px 0px 0px;
}
.indent2 {
    flex-basis:85px; 
   
    margin-left:0px;
}

.indent2 p {
    text-align:right;
   margin: 0px 5px 0px 0px;
}
/*saturated fat*/
.satFat {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left: 25px;
    margin-right:5px;
    
}
/*trans fat*/
.transFat {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left: 25px;
    margin-right:5px;
   
}
/*dietary fibre*/
.dietFib {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left: 25px;
    margin-right:5px;
    
}
/*sugars*/
.sugars {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left: 25px;
    margin-right:5px;
    
}
/*LINES*/
#thickLine {
    width: 440px;
    height:10px;
    background-color: black; 
    margin-top:0;  
    margin-bottom:0px;
}

#mediumLine {
    width: 440px;
    height:5px;
    background-color: black; 
    margin-top:0; 
    margin-bottom: 0;
}
#thinLine   {
    width: 440px;
    height:2px;
    background-color: black; 
    margin-top:0px;
    margin-bottom:0px;
}
#thinLineGrey{
    width: 440px;
    height:2px;
    background-color: grey; 
    margin-top:0px;
    margin-bottom:0px;
}
#thinLightGrey  {
    width: 440px;
    height:2px;
    background-color: lightgray; 
    margin-top:0px;
    margin-bottom:0px;
}
#thinnestGrey{
    width: 440px;
    height:1px;
    background-color: grey; 
    margin-top:0px;
    margin-bottom:0px;
}
#greyLine{
    width: 420px;
    height:2px;
    background-color: grey; 
    margin-top:0; 
    margin-left:25px;
    margin-bottom: 0;
}
#shortline{
    width: 420px;
    height:2px;
    background-color: black; 
    margin-top:0; 
    margin-left:25px;
    margin-bottom: 0;
}

/*CONTENT*/

.content{
    margin:0px 5px 0px 5px;
    font-size:14px;
    
}
.content p{
    font-size:14px;
    margin-top:0px;
    margin-bottom:0px;
}

.tableHeader    {
    display: flex; 
    flex-direction:row;
    justify-content:space-between;
}
.tabHead1{
    flex-basis:185px;
    text-align:right;

   
}
.tabHead2   {
    flex-basis:90px;
    text-align:left;

}
.lastTable{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin: 0px 5px 0px 5px;
    font-size:12px;
}
.noMargin{
    /*flex-basis: 90px;*/
    flex-basis:10%;
     margin-top:0px; 
    margin-bottom:0px;
}
.noMargin p{
    margin-top:0px;
    margin-bottom:0px;
}
.noMargin2  {
    flex-basis:140px;
    text-align:center;
    margin-top:0px;
}
.noMargin2 p{
    margin-top:0px;
    margin-bottom:0px;
}
.noMargin3  {
    flex-basis:133px;
    margin-top:0px;
}
.noMargin3  p{
    margin-top:0px;
    margin-bottom:0px;
}
.noMargin4{
    flex-basis:93px;
    margin-top:0px;
}
.noMargin4 p{
    margin-top:0px;
    margin-bottom:0px;
}

.lastCholest{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    /*margin: 0px 5px 0px 5px;
*/
    margin:0 5px;
    font-size:12px;
  
}

.lastSodium{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin: 0px 5px 0px 5px;
    font-size:12px;
    
}
.lastCarb {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin: 0px 5px 0px 5px;
    font-size:12px;
    
}
.bigMargin{
    flex-basis:150px;
}
.bigMargin p{
    margin-top:0px;
    margin-bottom:0px;
}
.bigMargin3{
    flex-basis:170px;
    
}
.bigMargin3 p{
    margin-top:0px;
    margin-bottom:0px;
}
.bigMargin4 {
    flex-basis:115px;
}
.bigMargin4 p{
    margin-top:0px;
    margin-bottom:0px;
}

/*indented segments*/
.lastSatFat {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-size:12px;
    margin:0px 5px 0px 15px;
}
.noMarg {
    
    flex-basis:100px;
}
.noMarg p{
    margin-top:0px;
    margin-bottom:0px;
}
.noMarg2{
    
    flex-basis:80px;
}
.noMarg2 p{
    margin-top:0px;
    margin-bottom:0px;
}
.noMarg3{
   
    flex-basis:110px;
}
.noMarg3 p{
    margin-top:0px;
    margin-bottom:0px;
}
.noMarg4{
  
    flex-basis:90px;
}
.noMarg4 p {
    margin-top:0px;
    margin-bottom:0px;
}
.lastDiet{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-size:12px;
    margin:0px 5px 0px 15px;
}
.noLast2 {
    
    flex-basis:110px;
}
.noLast2 p {
    margin-top:0px;
    margin-bottom:0px;
}
.noLast3{
    
    flex-basis:130px;
}
.noLast3 p{
    margin-top:0px;
    margin-bottom:0px;
}
.noLast4{
   
    flex-basis:87px;
}
.noLast4 p {
    margin-top:0px;
    margin-bottom:0px;
}
.lastCal    {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin: 0px 5px 0px 5px;
    font-size:12px;
    
}

.centerThree    {
    display:flex;
    flex-direction:row;
    justify-content:center;
    font-size:12px;
}
.center1 {
    margin:0px 10px;
}
.center1 p{
    margin-top:0px;
}