@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

/*body css */
.container {
    height:520px;
    width:450px;
    border: 1px solid black; 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
}


/*Nutrition Facts section*/

.firstSection   {
    font-weight:bold;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}
.firstSection p, h1 {
    margin: 0px 0px 0px 5px;
}
.firstSection h1{
    letter-spacing: 1px;
}
.firstSection #thickLine {
    width: 440px;
    height:10px;
    background-color: black; 
    margin-top:0;  
    margin-bottom:0px;
}

/*Per Serving Line*/

.amPerServing {
    
    display: flex;
    flex-direction:column;
}

 #titles > p {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    margin:0px 5px 0px 0px;
}

.amPerServing #thinLine {
    width: 440px;
    height:2px;
    background-color: black; 
    margin-top:0px;
    margin-bottom:0px;
}

/*class next to margin left*/

/*AMOUNT PER SERVING*/
.item1 {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0px 5px 0px 5px;
    
}
.box1 {
    border: 1px solid black;
    flex-basis:300px;
    margin-right:0px;
    
}

.box1 p{
    margin: 0px 5px 0px 0px;
}


.box2 {
    
    border:1px solid black;
    flex-basis:100px;
    margin-left:0px;
}
.box2 p {
   text-align:right;
   margin: 0px 5px 0px 0px;
}

/*CALORIES*/

.calories {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0px 5px 0px 5px;
}
 

#greyLine{
    width: 420px;
    height:2px;
    background-color: grey; 
    margin-top:0; 
    margin-left:25px;
    margin-bottom: 0;
}

/*indented paragraphs*/

/*CALORIES FROM FAT */

.calorFat {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left: 25px;
    margin-right:5px;
    border: 1px solid black;
}

.indent1 {
    
    flex-basis:240px;  
    border: 1px solid black;
}

.indent1 p{
    margin: 0px 5px 0px 0px;
}
.indent2 {
    flex-basis:100; 
    border: 1px solid black;
    margin-left:0px;
}

.indent2 p {
    text-align:right;
   margin: 0px 5px 0px 0px;

}
/*
/*.calorFat > p{
    margin: 0px 5px 0px 5px;
    font-weight:bold;
    flex-grow:1;
}*/
#mediumLine {
    width: 440px;
    height:5px;
    background-color: black; 
    margin-top:0; 
    margin-bottom: 0;
}
#thinLine   {
    width: 440px;
    height:2px;
    background-color: black; 
    margin-top:0px;
    margin-bottom:0px;
}
